/* common style start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.btn-primary{
    margin-right: 5px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #FF5959;
    border: 0;
    border-radius: 5px;
    color: white;
}

.btn-normal{
    color: #707070;
    border: none;
}

.section-header{
    margin: 50px 0 20px 0;
    font-size: 40px;
    text-align: center;
}

.section-des{
    padding: 10px 40px;
    text-align: center;
    font-size: 18px;
    color: #707070;
}

/* common style end */

/* header style start */

.header{
    display: flex;
    margin: 0 50px 0 200px;
    gap: 20px;
    background-image:  url(./picture/Ellipse_256.png) , url(./picture/Ellipse_257.png) ;
    background-repeat: no-repeat;
    background-size: 650px , 520px;
    background-position: 85% 100%, 77% 100%;
}

.header-img{
    width: 400px;
    height: auto;
    display: block; 
    margin-right: 210px;
}

/* .header-info{
    
} */

.header-title{
    margin-top: 50px;
    font-size: 60px;
}

.header-des{
    font-size: 20px;
    margin: 20px 20px 20px 0;
    color: #707070;
}

/* header style end */

/* main style start */

.main{
    margin: 0 200px;
}


/* donations star */

.donate-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.donate{
    width: 150px;
    height: 120px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 5px;
}

.donate .amount{
    padding-top: 50px;
    font-weight: 700;
    font-size: 20px;
    color: #707070;
}

.donate:hover{
    background-color: #f8b4b4;
    border: 2px solid #fa4444;
}

.donate:hover  .amount{
    color: #FF5959;
}

.others-amounts{
    text-align: center;
    color: #707070;
    font-weight: 400;
    padding: 4px 0;
}

.donation-btn-container{
    text-align: center;
    margin: 20px 0;
}

/* donations end */


/* donate plan start */

.plan-container{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.plans{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.plan-img{
    padding: 20px 0;
}

.plan-title{
    color: #121212;
    font-size: 24px;
    margin: 10px 0;
}

.plan-dis{
    color: #707070;
    padding: 10px 0 20px 0;
}

.plan-container > :nth-child(1){
    background-color: #4F9DA61A;
}
.plan-container > :nth-child(2){
    background-color: #FF59591A;
}
.plan-container > :nth-child(3){
    background-color: antiquewhite;
}

/* donate plan end */

/* blog start */
.blogs-container{
    margin: 20px 0;
    
}

.blogs-container > :nth-child(2){
    flex-direction: row-reverse;
}

.blog{
    display: flex;
    gap: 80px;
    margin-top: 30px;
}

.blog-title{
    margin: 30px 0;
    font-size: 45px;
}

.blog-info{
    margin: 20px 0;
    color: #707070;
    font-size: 18px;
}

.blog-img{
    width: 400px;
    height: 380px;
}

/* blog end */


/* get update section start */

.get-updates{
    margin-bottom: 80px;
}

.con-p{
    padding: 10px 70px;
}

.contact{
    min-width: 800px;
    min-height: 150px;
    background-color: antiquewhite;
    text-align: center;
    padding-top: 60px;
}

input[type="email"]{
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: #D9D9D9;
    border-radius: 5px 0 0 5px;
}

.get-updates  button{
   border-radius: 0 5px 5px 0;
}
/* get update section end */


/* ----------------End Of Main section------------------------- */


/* --------------- footer start-------------- */

.footer{
    background-color: #000000;
    text-align: center;
    min-height: 100px;
}

.footer-intro{
    color: #FF5959;
    font-size: 30px;
    padding: 10px;
    font-family: 'Lobster', cursive;
}

.footer-txt{
    color: #D9D9D9;
    font-size: 14px;
}
/* --------------- footer end -------------- */